h1, h2 {
    color: rgb(12, 12, 12);
}

h2 {
    font-size: 30px;
}

body {
    background-color: rgb(255, 153, 204);
}
#duda {
    color: red;
}

#duda span {
    color: blue;
}

p {
    font-size: 20px;
    font-weight: 600;
}


